@import url("./normalize.css");

body {
	margin: 0;
	padding: 0;
}

a:link {
	color: black;
	text-decoration: none
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}

a {}

ul {
	margin: 0;
	padding: 0;
}

li {
	 list-style-type: none;  /*去点*/
	 display: inline-block;	/* 横向排列*/
}

